<div class="container mt-2">
  <h1 class="text-center">Empleados</h1>
  <div class="row">
    <div class="col-sm-6 mt-5">
      <h4>Datos Cliente</h4>
      <form #formulario="ngForm" (ngSubmit)="addEmpleado(formulario)">
        <label for="">Nombre:</label>
        <input
          type="text"
          name="nombre"
          class="form-control"
          [(ngModel)]="empleadosService.empleadoSelect.nombre"
          placeholder="Ingreso nombre"
        />
        <label for="">Posicion:</label>
        <input
          type="text"
          class="form-control"
          name="position"
          [(ngModel)]="empleadosService.empleadoSelect.position"
          placeholder="Ingresa Posicion"
        />
        <label for="">Oficina:</label>
        <input
          type="text"
          class="form-control"
          name="oficina"
          [(ngModel)]="empleadosService.empleadoSelect.oficina"
          placeholder="Ingresa Oficina"
        />
        <label for="">Salario:</label>
        <input
          type="number"
          class="form-control"
          name="salario"
          [(ngModel)]="empleadosService.empleadoSelect.salario"
          placeholder="Ingresa salario"
        />
        <button class="btn btn-primary mt-2">
          Guardar
        </button>
        <button
          class="btn btn-success mt-2 ml-3"
          (click)="resetForm(formulario)"
        >
          Limpiar
        </button>
      </form>
    </div>
    <div class="col-sm-6 mt-5" id="listaclientes">
      <h4>Datos Cliente Listados</h4>
      <input
        type="text"
        class="form-control buscador"
        placeholder="Buscar Cliente..."
        name="buscadorClientes"
        width="300"
        [(ngModel)]="buscadorClientes"
      />
      <table class="table table-striped table-dark mt-4">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Posicion</th>
            <th scope="col">Oficina</th>
            <th scope="col">Salario</th>
            <th scope="col">Operacion</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let emplado of empleados | empleadopipe: buscadorClientes"
          >
            <th scope="row">1</th>
            <td>{{ emplado.nombre }}</td>
            <td>{{ emplado.position }}</td>
            <td>{{ emplado.oficina }}</td>
            <td>{{ emplado.salario | currency: "$" }}</td>
            <td>
              <a class="btn btn-warning" (click)="updateUsuario(emplado)"
                ><img
                  src="https://lh3.googleusercontent.com/proxy/w5ZfxKt5H1Vxi_wPdzxhFt9_AQt6eyqcPUvfhvCcPLj1blyB1X_SUFyfjwpw48H8_gi9fP3kURNalYN4_XOAA9RHMea6QPVyrDzFZSnjNTJ36Y1HnUuClWL9qCJIre0"
                  height="20"
                  width="30"
                  alt=""
              /></a>
            </td>
            <td>
              <a
                href=""
                class="btn btn-danger"
                (click)="deleteUsuario(emplado._id)"
                ><img
                  src="https://es.seaicons.com/wp-content/uploads/2015/09/Remove-Male-User-icon.png"
                  height="20"
                  width="30"
                  alt=""
              /></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
